---
import Layout from '../layouts/Layout.astro';
import InstagramIcon from '../icons/InstagramIcon.astro';
import TelefonoIcon from '../icons/TelefonoIcon.astro';
---

<Layout title="Sistema de Gestión de Calidad">
    <section class="flex flex-col items-center justify-center gap-4 mt-4">
        <h1 class="text-5xl text-[#025940] font-bold" style="font-family:'Corinthia', cursive;">Sistema de Gestión de Calidad</h1>
        <section class="flex flex-wrap items-center justify-center px-5 gap-5 text-center">
            
            <article class="block max-w-sm p-6 bg-[#025940] border border-gray-200 rounded-lg shadow">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Misión</h5>
                <p class="font-normal text-white text-pretty">Centro Médico el Paso es una empresa de Servicio de Salud ubicada en los Altos Mirandinos con atención inmediata las 24 horas en las áreas de hospitalización, cirugía y consulta. Con personal altamente calificado, empatía, vocación, profesionalismo enfocado en la mejora continua. Posee una infraestructura y equipos modernos y los operacionaliza con procesos y métodos vanguardistas globales.</p>
            </article>
            <article class="block max-w-sm p-6 bg-[#025940] border border-gray-200 rounded-lg shadow">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Visión</h5>
                <p class="font-normal text-white text-pretty">Centro Médico el Paso desea mantenerse como la mejor Clínica Tipo A de los Altos Mirandinos, ofreciendo una relación respetable "Costo, beneficio, valor"; con presencia y visibilidad en las redes sociales y otras plataformas virtuales profesionales, consideran atender eficaz y eficientemente a todas las partes interesadas del servicio.</p>
            </article>
            <article class="block max-w-sm p-6 bg-[#025940] border border-gray-200 rounded-lg shadow">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Políticas de Calidad</h5>
                <p class="font-normal text-white text-pretty">Centro Médico el Paso desea mantenerse como la mejor Clínica Tipo A de los Altos Mirandinos, ofreciendo una relación respetable "Costo, beneficio, valor"; con presencia y visibilidad en las redes sociales y otras plataformas virtuales profesionales, consideran atender eficaz y eficientemente a todas las partes interesadas del servicio.</p>
            </article>
        </section>
    </section>
</Layout>