---
import Button from './Button.astro';
import ServicioIcon from '../icons/ServicioIcon.astro';
---

<section class="bg-center bg-cover bg-no-repeat bg-[url('/img/Quirofano.webp')] bg-gray-400 bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Centro Médico Docente el Paso</h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">¡Somos esperanza para la vida!</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <Button href="/quienes-somos">
                <ServicioIcon />
                Conoce más de nosotros
            </Button>
        </div>
    </div>
</section>
