<a
    {...Astro.props}
    class="flex-row justify-center text-white cursor-pointer bg-[#02734A] hover:bg-[#025940] focus:ring-4 focus:outline-none focus:ring-[#038C3E]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center mr-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-80 hover:opacity-100">
    <slot />
</a>