<section class="bg-[url('/img/bg.webp')] bg-center bg-cover flex flex-col py-10 gap-y-6 md:gap-y-14 md:gap-x-20 px-5 flex-wrap items-center justify-center shadow-inner pb-24">
    <h2 class="font-bold text-xl sm:text-3xl md:text-4xl text-[#025940] text-center">Sistema de Gestión de Calidad</h2>
    <div id="indicators-carousel" class="overflow-hidden relative w-full" data-carousel="static">
        <!-- Carousel wrapper -->
        <div class="h-screen sm:h-96">
             <!-- Item 1 -->
            <div class="duration-700 ease-in-out" data-carousel-item="active">
                <div class="flex flex-col items-center justify-center gap-4 h-full">
                    <section class="flex flex-col items-center justify-center gap-y-2 text-center w-4/6 lg:w-3/6 bg-[#00ff6e36] backdrop-blur-[2px] shadow-lg p-3 sm:p-5 md:p-6 rounded-lg">
                        <h2 class="text-lg sm:text-xl md:text-3xl font-semibold text-[#025940]">Misión</h2>
                        <p class="text-xs sm:text-sm text-pretty">Centro Médico Docente el Paso es una empresa de Servicio de Salud ubicada en los Altos Mirandinos con atención inmediata las 24 horas en las áreas de hospitalización, cirugía y consulta. Con personal altamente calificado, empatía, vocación, profesionalismo enfocado en la mejora continua. Posee una infraestructura y equipo modernos y los operacionaliza con procesos y métodos vanguardistas globales.</p>
                    </section>
                    <section class="flex flex-col items-center justify-center gap-y-2 text-center w-4/6 lg:w-3/6 bg-[#00ff6e36] backdrop-blur-[2px] shadow-lg p-3 sm:p-5 md:p-6 rounded-lg">
                        <h2 class="text-lg sm:text-xl md:text-3xl font-semibold text-[#025940]">Visión</h2>
                        <p class="text-xs sm:text-sm text-pretty">Centro Médico Docente el Paso desea mantenerse como la mejor Clínica Tipo A de los Altos Mirandinos, ofreciendo una relación respetable "Costo, beneficio, valor"; con presencia y visibilidad en las redes sociales y otras plataformas virtuales profesionales, considerando atender eficaz y eficientemente a todas las partes interesadas del servicio.</p>
                    </section>
                </div>
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <div class="flex flex-col items-center justify-center gap-y-4 h-full">
                    <section class="flex flex-col items-center justify-center gap-y-2 text-center w-4/6 bg-[#00ff6e36] backdrop-blur-[2px] shadow-lg p-3 sm:p-5 md:p-6 rounded-lg">
                        <h2 class="text-lg sm:text-xl md:text-3xl font-semibold text-[#025940]">Políticas de Calidad</h2>
                        <p class="text-xs sm:text-sm text-pretty">Centro Médico Docente el Paso es una empresa de Servicio de Salud que ofrece esperanza para la vida, considerando todas sus partes interesadas, con un enfoque ético de mejora continua de procesos, autoevaluación, liderazgo, respeto, calidad, empatía, conformado por un equipo altamente calificado, comprometido en atenderlo en los momentos más planificados y adversos con tecnología vanguardista.</p>
                    </section>
                </div>
            </div>
            <!-- Item 3 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <div class="flex flex-col items-center justify-center gap-y-4 h-full">
                    <section class="flex flex-col items-center justify-center gap-y-2 text-center w-4/6 bg-[#00ff6e36] backdrop-blur-[2px] shadow-lg p-3 sm:p-5 md:p-6 rounded-lg">
                        <h2 class="text-lg sm:text-xl md:text-3xl font-semibold text-[#025940]">Alcance de S.G.C.</h2>
                        <p class="text-xs sm:text-sm text-pretty">El Sistema de Gestión de Calidad de Centro Médico Docente el Paso, comprende cuatro (04) procesos medulares, uno (01) de apoyo y uno (01) estratégico, vinculados con la prestación del servicio de salud, donde se incluyen todas las partes interesadas de los seis (06) procesos, sus mediciones y registros vinculantes que permiten reconocer su trazabilidad.</p>
                        <p class="text-xs sm:text-sm text-pretty">La prestación del servicio se realiza con un amplio sentido ético, empatía y el reconocimiento de las entradas, controles y salidas de cada proceso vinculado con las áreas de hospitalización, cirugía y consulta.</p>
                    </section>
                </div>
            </div>
            <!-- Item 4 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <div class="flex flex-col items-center justify-center gap-y-4 h-full">
                    <section class="flex flex-col items-center justify-center gap-y-4 text-center w-4/6 bg-[#00ff6e36] backdrop-blur-[2px] shadow-lg p-3 sm:p-5 md:p-6 rounded-lg">
                        <h2 class="text-lg sm:text-xl md:text-3xl font-semibold text-[#025940]">Objetivos de calidad</h2>
                        <ul class="text-left w-5/6">
                            <li class="list-disc">
                                <p class="text-xs sm:text-sm text-pretty">Realizar mediciones trimestrales de los indicadores de los procesos medulares y hacerlos visibles por diversas plataformas entre nuestras partes interesadas.</p>
                            </li>
                            <li class="list-disc">
                                <p class="text-xs sm:text-sm text-pretty">Gestionar mediciones anuales vinculadas con el clima organizacional y el desempeño de capital humano.</p>
                            </li>
                            <li class="list-disc">
                                <p class="text-xs sm:text-sm text-pretty">Realizar mediciones anuales de los equipos utilizados, así como los métodos y prácticas.</p>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <!-- Item 5 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <div class="flex flex-col items-center justify-center gap-y-4 h-full">
                    <section class="flex flex-col items-center justify-center gap-y-4 text-center w-4/6 bg-[#00ff6e36] backdrop-blur-[2px] shadow-lg p-7 rounded-lg">
                        <h1 class="text-lg md:text-3xl font-semibold text-[#025940] text-pretty">En Centro Medico Docente el Paso</h1>
                        <h2 class="font-bold text-3xl md:text-5xl text-[#025940] text-center" style="font-family:'Corinthia', cursive;">¡Somos esperanza para la vida!</h2>
                        <img class="size-20 sm:size-32 md:size-44" src="/img/Logo.webp" alt="Logo Centro Medico Docente el Paso">
                    </section>
                </div>
            </div>
        </div>
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>
</section>