---
    const res = await fetch('https://backend.centromedicodocenteelpaso.com/especialidades/',{
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
    });
    const data = await res.json();


---

{
    data.map((especialidad) => (
        <option value={especialidad.id}>{especialidad.nombre}</option>
    ))
}