---
import InstagramIcon from "../icons/InstagramIcon.astro"
---

<footer class="font-bold w-auto py-5 gap-6 flex flex-col justify-center items-center">
    <section class="bg-[#dedede] text-[#025940] gap-3 text-xs grid grid-cols-1 sm:grid-cols-3 justify-center items-center py-4">
        <article class="flex flex-col items-center gap-0">
            <img src="/img/Logo.webp" class="relative aspect-square max-h-28" alt="Logo Centro Médico Docente el Paso" />
            <span>RIF: J-30189706-4
            </span>
        </article>
        <span class="text-center text-pretty">
            Calle Guaicaipuro - Callejón Almenar - Sector Punta Brava - Los Teques - Edo. Miranda - Venezuela
        </span>
        <article class="text-center flex flex-col items-center justify-center">
            <span>
                Teléfono: 0212-700-50-00
            </span>
            <span class="flex justify-center items-center">
                Siguenos en Instagram: 
                <a href="https://www.instagram.com/centromedicodocentelpaso?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" rel="noopener">
                    <InstagramIcon />
                </a>
            </span>
        </article>
    </section>
    <section class="flex flex-col sm:flex-row text-xs items-center justify-center gap-3 sm:gap-20">
        <span>&copy; 2024 Todos los derechos reservados</span>
        <h4 class="text-xs">
            Creado y Diseñado por <a href="https://www.codejod.com" target="_blank" rel="noopener" style="font-family: Audiowide;" class="text-[#1F1D28]">CodeJOD</a>
        </h4>
    </section>
</footer>