---
import Carrusel from './Carrusel.astro';
---

<section class="flex flex-col items-center py-10 px-14 gap-5">
    <h2 class="font-bold text-5xl text-[#025940]" style="font-family:'Corinthia', cursive;">Infraestructura</h2>
    <Carrusel />
</section>