---
import FlechaIcon from '../icons/FlechaIcon.astro';
import Button from './Button.astro';
import InstagramIcon from '../icons/InstagramIcon.astro';
---

<section class="bg-[#025940] px-5 py-12 flex flex-wrap justify-center items-center gap-5">
    <img class="rounded-xl max-h-96" src="/img/Publicacionnueva.webp" alt="Publicación de instagram">
    <div class="flex flex-col items-center gap-5">
        <span class="text-center text-white text-md max-w-72 text-pretty ">
            En Centro Médico Docente el Paso te ofrecemos la mayor atención médica de la mano de nuestros especialistas altamente calificados, disponemos de equipos de calidad con tecnología de punta y un servicio de primera.
            <br><br>
            📌Siempre preparados a la hora de atender a nuestros pacientes con la mayor atención y comodidad.
            <br><br>
        </span>
        <h4 class="text-white text-center text-2xl ">"Somos esperanza para la Vida"</h4>
        <Button href="https://www.instagram.com/centromedicodocentelpaso?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"  noreferrer>
            <InstagramIcon />
            Ver más
            <FlechaIcon />
        </Button>
    </div>
</section>