---
import FlechaIcon from '../icons/FlechaIcon.astro';
import Button from './Button.astro';
import InstagramIcon from '../icons/InstagramIcon.astro';
---

<section class="bg-[#025940] px-5 py-12 flex flex-wrap justify-center items-center gap-5">
    <img class="rounded-xl max-h-96" src="/img/Publicacion.webp" alt="Publicación de instagram">
    <div class="flex flex-col items-center gap-5">
        <span class="text-center text-white text-md max-w-72 text-pretty ">
            🩺 En nombre de la junta directiva, gerentes, equipo médico y trabajadores que hacen vida en Empresas Grupo El Paso, queremos felicitar a la Dra. Sobeida Mendoza, por su merecido reconocimiento como mejor médico internista de los Altos Mirandinos, año 2024. Quién a su destacada labor y entrega con sus pacientes día a día le brinda lo mejor de sí con un alto valor de compromiso y calidad.
            <br><br>
            <br><br>
        </span>
        <h4 class="text-white text-center text-2xl ">"Somos esperanza para la Vida"</h4>
        <Button href="https://www.instagram.com/centromedicodocentelpaso?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"  noreferrer>
            <InstagramIcon />
            Ver más
            <FlechaIcon />
        </Button>
    </div>
</section>