---
import "@fontsource/audiowide"
import '@fontsource-variable/onest'
import '@fontsource/corinthia'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Página web de Centro Medico Docente el Paso, La Mejor Clínica de los Altos Mirandinos" />
		<meta name="keywords" content="centro, medico, docente, el paso, la mejor clinica, altos mirandinos, directorio medico, especialidades, contacto, servicios, directorio, docente el paso, centro medico, altos mirandinos, miranda, los teques, clínica docente el paso teléfono, laboratorio docente el paso">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/img/Logo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body class="bg-white">
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		background-size: 224px;
	}
</style>
